extends layout

block title_top
  | Product Configurator

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | Welcome to Product Configurator App

block hint
  | 

block page_content
  .row
    - if(priv == 1 || priv == 3 || priv == 4)
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .dashboard-stat.green
          .visual
            i.fa.fa-tags
          .details
            .number 
              | #{dashboard_data.partial}
            .desc
              | Partial RFQs
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .dashboard-stat.red
          .visual
            i.fa.fa-times
          .details
            .number 
              | #{dashboard_data.totalExpiredRfq}
            .desc
              | Total Expired RFQs
    - if(priv == 2 || priv == 3 || priv == 4)
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .dashboard-stat.yellow
          .visual
            i.fa.fa-gear
          .details
            .number 
              | #{dashboard_data.new}
            .desc
              | Total Bid/No-Bid RFQs
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .dashboard-stat.purple
          .visual
            i.fa.fa-file
          .details
            .number 
              | #{dashboard_data.bid_in_tendering}
            .desc
              | In-Tendering RFQs