extends layout

block title_top
  | Product Configurator

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | Welcome

block hint
  | 

block page_content
  | Welcome to Product Configurator App